Django>=4.2,<5
djangorestframework>=3.15,<4
django-prometheus>=2.4,<3
djangogrpcframework>=0.2.1

asgiref>=3.8,<4
sqlparse>=0.4

prometheus-client>=0.20,<1

grpcio>=1.60,<2
grpcio-tools>=1.60,<2
protobuf>=3.20,<4

kafka-python>=2.0

pytest>=8.0,<9
pytest-django>=4.9,<5
freezegun>=1.4,<2

black>=24.0,<25
flake8>=7.0,<8
mypy>=1.11,<2
pre-commit>=3.0,<4

typing_extensions>=4.12
